<nav class="navbar navbar-expand-md  navbar-dark" style="background-color: rgb(141, 72, 72)">
  <div>
  <a class="navbar-brand" href="#">
<div class="text1"> Blood for life</div>
  </a></div>
  <button class="navbar-toggler availablity " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav pull-right">
      <li class="nav-item active">
        <a class="nav-link font-weight-bold " href="#"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" href="Signup.html"><div class="text1">Register</div></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link font-weight-bold" href="#"><div class="text1">Login</div></a>
      </li>
    </ul>
  </div>
</nav>
<app-carousel></app-carousel>
<app-new-page></app-new-page>
<app-login></app-login>
<app-contact></app-contact>

<div class="nav11">
<div class="bg-info nav11">
    
    <div class="text-white text-center py-3">
            
      <ul class="list-inline mb-0">
          
  <em><h4>
        <li class="active list-inline-item">
          <a class="nav-link"> Home</a>
        </li>
  
        <li class="active list-inline-item">
          <a class="nav-link">About</a>
        </li>
  
        <li class="active list-inline-item">
          <a class="nav-link">Service</a>
        </li>

        <li class="active list-inline-item">
                <a class="nav-link">FAQ</a>
        </li>
        <li class="active list-inline-item">
                <a class="nav-link">More</a>
              </li></h4>

  </em>
  
  
      </ul>
    </div>
  </div>
</div>

<div class="footer">
  <div class ="text1">Copyright 2019</div>
</div>

<router-outlet></router-outlet>

